<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="43" android:versionName="1.0.5.13" package="com.bbm"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <compatible-screens>
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="480" />
    </compatible-screens>
    <supports-screens android:xlargeScreens="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.telephony" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".Alaska" android:allowBackup="true" android:largeHeap="true">
        <activity android:label="@string/app_name" android:name=".ui.activities.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.bbm.ui.activities.action.SECTION_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.activities.StartupActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ConversationActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/invite_to_bbm" android:name=".ui.activities.InviteActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/open_in_bbm" android:name=".ui.activities.OpenInBbmActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.pin.bbm.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="pin.bbm.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.pin.bbm.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="pin.bbm.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bbm" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pin" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.activities.TapToInviteActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/select" android:name=".ui.activities.SelectContactActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity android:label="@string/select_group" android:name=".ui.activities.SelectGroupActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/select_category" android:name=".ui.activities.SelectCategoryActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.ProfileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/app_name" android:name=".ui.activities.AvatarViewerActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/app_name" android:name=".ui.activities.ImageViewerActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.OwnProfileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/settings_activity_title" android:name=".ui.activities.SettingsActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.LegalActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.ReportProblemActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.AttachActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.ShowBarCodeActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".ui.activities.ShowGroupBarCodeActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/blackberry_id" android:name=".ui.activities.SetupActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
        <activity android:label="@string/title_activity_new_group" android:name=".ui.activities.NewGroupActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/group_add_list_title" android:name=".ui.activities.NewListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/group_add_list_item_title" android:name=".ui.activities.NewListItemActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/group_edit_list_title" android:name=".ui.activities.EditListItemActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/title_activity_groups_icon" android:name=".ui.activities.GroupsIconActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/select" android:name=".ui.activities.ProfileIconSourceActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_profile_icon" android:name=".ui.activities.ProfileDefaultIconActivity" android:screenOrientation="portrait" />
        <activity android:name="com.google.zxing.client.android.CaptureActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.CaptureActivity" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.blackberry.ids.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.blackberry.ids.EditActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/title_activity_change_status" android:name=".ui.activities.ChangeStatusActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_sent_pending_invite" android:name=".ui.activities.SentPendingInviteActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_received_pending_invite" android:name=".ui.activities.ReceivedPendingInviteActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_received_pending_invite" android:name=".ui.activities.ReceivedPendingGroupInviteActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/bbm_contacts" android:name=".ui.activities.ShareActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.activities.FilePickerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
        <activity android:label="@string/app_name" android:name=".ui.activities.FileSearchActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/bbm_groups" android:name=".ui.activities.GroupPictureShareActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ui.activities.GroupProfileActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_groups_lobby" android:name=".ui.activities.GroupLobbyActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_group_picture" android:name=".ui.activities.GroupPictureActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_group_lists" android:name=".ui.activities.GroupListsActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_group_lists" android:name=".ui.activities.GroupListItemsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/title_activity_group_lists" android:name=".ui.activities.GroupListsCommentActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_group_event_details" android:name=".ui.activities.GroupEventDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/title_activity_group_events" android:name=".ui.activities.GroupEventsActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/title_activity_group_events" android:name=".ui.activities.GroupEventsAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/title_activity_group_picture" android:name=".ui.activities.GroupPictureCommentsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/title_activity_group_picture" android:name=".ui.activities.GroupPictureUploadActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:label="@string/group_settings_title" android:name=".ui.activities.GroupSettingsActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/group_settings_title" android:name=".ui.activities.GroupAdminEditActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/group_settings_title" android:name=".ui.activities.GroupAdminAddActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/group_settings_title" android:name=".ui.activities.GroupAdminPasswordActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/blank" android:name=".ui.activities.AudioPlayerActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/setas_activity_item_bbm_picture" android:name=".ui.activities.SetAsActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:label="CropLabel" android:name="com.cropimage.CropImage" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="false" />
        <activity android:label="@string/blank" android:name=".ui.activities.GroupSelectNewAdminActivity" android:screenOrientation="portrait" />
        <provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:authorities="com.bbm.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".BbmService" android:enabled="true" android:exported="false" />
        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LocationTimeZoneChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetworkChangeMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LocationTimeZoneChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MixPanelUpdates" />
        <receiver android:name=".receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name="com.bbm.BBMAccountService" android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/account_authenticator" />
        </service>
;
<service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />
        <receiver android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/blocked_contacts_activity_title" android:name=".ui.activities.BlockedContactsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.GroupChatListActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.GroupConversationActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activities.BroadcastActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.GroupChatHistorySettingsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".ui.activities.FirstLaunchOverlayActivity" android:screenOrientation="portrait" />
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip" />
        <receiver android:name="com.bbm.iceberg.ContactsManagerUpdates" />
    </application>
</manifest>
